.show_subscription {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  margin-top: 5%;
  border-collapse: collapse;
}

.show_subscription table {
  width: 100%;
}

.show_subscription td, .show_subscription th {
  border: 1px solid #ddd;
  padding: 8px;
}

.show_subscription tr:nth-child(even){background-color: #f2f2f2;}

.show_subscription tr:hover {background-color: #ddd;}

.show_subscription th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}