//Stylesheets
@import url(kt_tips.scss);

//Fonts
@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Laila');


body {
  background-color: #EDEDED;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, Thasadith, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #ffffff;
  margin: 1px;
  font-size: 15px;
  transition: 0.35s;
  text-decoration: none;
  background-color: #111111;
  font-family: 'PT Sans', sans-serif;

  &:link, &:visited {
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
  }

  &:hover {
    color: #000000;
    background-color: #fde003;
  }

  &:active {
    color: #000000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

//Custom CSS
//Index Table
.ze_table {
  margin: 0;

  td {
    padding: 10px;
  }
}

.ze_content {
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 1%;
}

.ze_links {
  margin: 10px;
  font-size: 15px;
  text-decoration: none;
  font-family: Laila, serif;

  &:link, &:visited{
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
  }
}


.za_head {
  font-family: Thasadith, sans-serif;
  margin-top: 4%;
}

//PAY
.ze_tab {
  width: auto;
  overflow: hidden;
  border: 1px solid #111111;
  background-color: #111111;

  button {
    float: left;
    width: 25%;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    padding: 14px 16px;
    background-color: inherit;
  }

  button:hover {
    color: #000000;
    background-color: rgba(203, 180, 2, 0.9);
  }

  button.active {
    background-color: #A5FFC9;
  }

}

// STK
//PAY
.ze_tab_stk {
  width: auto;
  overflow: hidden;
  border: 1px solid #111111;
  background-color: #111111;

  button {
    float: left;
    width: 50%;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    padding: 14px 16px;
    background-color: inherit;
  }

  button:hover {
    color: #000000;
    background-color: rgba(203, 180, 2, 0.9);
  }

  button.active {
    background-color: #A5FFC9;
  }

}

// TRANSFER
.ze_tab_transfer {
  width: auto;
  overflow: hidden;
  border: 1px solid #111111;
  background-color: #111111;

  button {
    float: left;
    width: 33.33333%;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    transition: 0.3s;
    padding: 14px 16px;
    background-color: inherit;
  }

  button:hover {
    color: #000000;
    background-color: rgba(203, 180, 2, 0.9);
  }

  button.active {
    background-color: #A5FFC9;
  }

}

.ze_tab_content {
  display: none;
  border: 1px solid #111111;
  border-top: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  -webkit-animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  to {opacity: 1;}
  from {opacity: 0;}
}

@keyframes fadeEffect {
  to {opacity: 1;}
  from {opacity: 0;}
}

.ze_form {
  margin: 20px;
  padding: 10px;
  font-family: 'Comfortaa', cursive;

  select{
    border: none;
    height: 40px;
    width: 200px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    position: relative;
    background-color: #C5C5C5;
    font-family: Thasadith, sans-serif;
  }

  input[type=submit]{
    border: none;
    height: 40px;
    width: 200px;
    transition: 0.3s;
    //Margin
    margin-top: 10px;
    margin-left: 0px;
    //Padding
    padding: 10px;
    font-weight: bold;
    position: relative;
    background-color: #C5C5C5;
    font-family: Thasadith, sans-serif;
  }
  input[type=submit]:hover{
    cursor: pointer;
    background-color: #fde003;
  }
  input[type=text]{
    border: none;
    height: 25px;
    width: 200px;
  }

  // Form Common Design
  // Common Div for side by side details
  form .ze_common_div {
    margin-top: -20px;
    margin-bottom: 15px;
  }
  form .ze_common_div label {
    margin-top: 17px;
    //margin-bottom: 5px;
  }
  form .ze_common_bottom_div {
    margin-top: -62px;
    margin-left: 250px;
  }

  //The Div for Create with Currency and Amount Details
  form .currency_div {
    margin-left: -10px;
    margin-bottom: 30px;
  }
  form .amount_div {
    margin-top: -65px;
    margin-left: 260px;
  }

  //Transfer Form
  // Checkbox Slider
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;

    // Checkbox
    input[type=checkbox] {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input[type=checkbox]:checked + .slider {
      background-color: #2196F3;
    }
    input[type=checkbox]:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }
    input[type=checkbox]:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

}


